html {
    scroll-padding-top: 70px;
}
.colorNav{
    background: #232946;
    
}

body {
    padding-top: 70px;
    background-color: #232946;
    font-family: "Inter", sans-serif;
}

p{
    color: #b8c1ec;
}   

.card {
    background-color: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(8px);
    border: 1px solid rgba(255, 255, 255, 0.1);
    transition: .2s ease-in-out;
}
.card:hover {
    transform: translateY(-5px);
} 

.btn {
    /* border-radius: 30px; */
    padding: 8px 20px;
    border: 1px solid rgba(255, 255, 255, 0.15);
    background: rgba(255, 255, 255, 0.05);
    color: #fff;
    backdrop-filter: blur(8px); 
    transition: .3s;
}

.btn:hover {
    /* transform: translateY(-3px); */
    transform: scale(1.1);
    color: #D3D3D3;
    border: 1px solid rgba(255, 255, 255, 0.15);
}



.bebas-neue-regular {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
}

h1,h3{
    font-family: "Oswald", sans-serif;
    color: white;
}

img {
      height: auto;
      width: 320px;
      max-width: 100%;
    }

.netflix-row {
  scrollbar-width: none; /* Firefox */
}

.netflix-row::-webkit-scrollbar {
  display: none; /* Chrome */
}

.netflix-card {
  transition: transform 0.3s ease;
  cursor: pointer;
}

.netflix-card:hover {
  transform: scale(1.15);
  z-index: 2;
}
