html {
    scroll-padding-top: 70px;
}
.colorNav{
    background: #232946;
}

body {
    padding-top: 70px;
    background-color: #232946;
    font-family: "Inter", sans-serif;
}

p{
    color: #b8c1ec;
}   


h1,h2,h3{
    font-family: "Oswald", sans-serif;
    color: white;
}
.resaltado{
  color: #2CEEF0;
}

img {
      height: auto;
      max-width: 100%;
    }

.netflix-row {
  display: flex;
  gap: 1rem;
  overflow-x: auto;
  overflow-y: hidden;
  padding: 1rem;
  scrollbar-width: none;
}

.netflix-row::-webkit-scrollbar {
  display: none;
}

.netflix-card {
  width: 180px;
  flex-shrink: 0;
  transition: transform 0.3s ease;
  cursor: pointer;
}

.carousel-wrapper {
  position: relative;
}

.arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: rgba(0,0,0,0.6);
  color: white;
  border: none;
  font-size: 2rem;
  padding: 0.5rem 1rem;
  cursor: pointer;
  z-index: 10;
}

.arrow.left {
  left: 0;
}

.arrow.right {
  right: 0;
}

.arrow:hover {
  background: rgba(0,0,0,0.9);
}

/* Hover solo desktop */
@media (hover: hover) {
  .netflix-card:hover {
    transform: scale(1.1);
    z-index: 2;
  }
}

/* Flechas solo desktop */
@media (hover: none) {
  .arrow {
    display: none;
  }
  .netflix-card {
  width: 100px;
  }
}